<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InnerInk</title>
  </head>
  <body>
    <img src="./assets/Logo.png" alt="" />
    <% if (user) {%>
    <h1>Welcome to InnerInk, <%= user.username%>!</h1>
    <nav>
      <a href="/auth/sign-out">Sign out</a>
    </nav>
    <div class="actions">
      <a href="/journals/new">Create New Journal</a>
      <a href="/entries/new">New Journal Entry</a>
    </div>
    <% } else { %>
    <h1>Welcome to InnerInk</h1>
    <nav>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign in</a>
    </nav>
    <% } %>
  </body>
</html>
