<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InnerInk</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class="container">
      <% if (user) { %>
      <h1>Welcome to InnerInk, <%= user.username %>!</h1>

      <div class="actions">
        <a href="/journals/new" class="button">Create New Journal</a>
        <a href="/entries/new" class="button">New Journal Entry</a>
        <a href="/journals" class="button">View My Journals</a>
        <a href="/auth/sign-out" class="button">Sign out</a>
      </div>
      <% } else { %>
      <h1>Welcome to InnerInk</h1>
      <nav>
        <a href="/auth/sign-up" class="button">Sign Up</a>
        <a href="/auth/sign-in" class="button">Sign In</a>
      </nav>
      <% } %>
    </main>
  </body>
</html>
